body{
    background-color: rgba(217, 246, 100, 0.11);
}

.photo{
    width: 90px;
    margin: 50px auto;
}

img{
    text-align: center;
}

.bible{
    height: auto;
    width: 50%;
    margin: 0px auto;
    /* background-color: rgb(38, 234, 54); */
}
h3{
    text-align: center;
}

li{
    margin-bottom: 5px;
}

.option{
    width: 50%;
    margin: 0px auto;
}

.form{
    width: 50%;
    text-align: center;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
button{
    height: 35px;
    border-radius: 20px;
}
button:hover{
    transform: scale(1.2);
    background-color: rgb(4, 4, 3);
}
a:hover{
    color: rgb(34, 189, 34);
}